<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lobo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A70DEF171CFF916F00E408C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70DEF2D1CFF916F00E408C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A70DEF381CFF916F00E408C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
